.card__image__container {
  width: 75.37vw;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.card__image {
  height: 100%;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  padding-left: 2vw;
}

.card__info--name {
  font-size: 7vw;
  font-weight: 700;
}

.card__info--category {
  font-weight: 400;
  font-size: 4vw;
  color: #828282;
}

.card__info--price {
  font-weight: 600;
  font-size: 4vw;
  color: #27ae60;
}

.card__button--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
}
.card__button {
  height: 100%;
  width: 80%;
  border: none;
  background-color: #27ae60;
  border-radius: 1.2vw;
  color: #f5f5f5;
  font-size: 5vw;
}

.card__button:hover {
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .card__image__container {
    width: 100%;
  }
  .card__info--name {
    font-size: 1.7rem;
  }
  .card__info--category {
    font-size: 1.2rem;
    position: relative;
    top: -10%;
  }
  .card__info--price {
    font-size: 1.3rem;
  }

  .card__button {
    font-size: 1.3rem;
  }
}
